PORT=3000
NODE_ENV="development"
API_VERSION="v1.0.0"

MONGODB_URL="your-mongodb-url-here"

DATABASE_NAME="e-learn-platform-db"
DATABASE_USER="postgres"
DATABASE_PASSWORD="your-password-here"
DATABASE_PORT="your-port-here"
DATABASE_HOST="your-host-here"
DATABASE_SYNCHRONIZE="true"
DATABASE_AUTO_LOAD_ENTITIES="true"

JWT_SECRET="your-access-secret-key-here"
JWT_REFRESH_SECRET="your-refresh-secret-key-here"
JWT_EXPIRES_IN=3600
JWT_REFRESH_EXPIRES_IN=86000
JWT_TOKEN_AUDIENCE=localhost:3001
JWT_TOKEN_ISSUER=localhost:3001

MAILER_HOST="your-mailer-host-here"
MAILER_PORT="your-mailer-port-here"
MAILER_USER="your-mailer-user-here"
MAILER_PASSWORD="your-mailer-password-here"

RESET_TOKEN_EXPIRES_IN=300
RESET_TOKEN_SECRET="your-reset-secret-key-here"

REDIS_HOST="your-redis-host-here"
REDIS_PORT="your-redis-port-here"
REDIS_PW="your-redis-password-here"
REDS_LOCAL_HOST="your-local-redis-host-here"
REDIS_LOCAL_PORT="your-local-redis-port-here"

REDIS_ACTIVE_TOKEN_EXPIRATION=300


STORAGE_PATH="./storage"

GOOGLE_CLIENT_ID="your-google-client-id-here"
GOOGLE_CLIENT_SECRET="your-google-client-secret-here"


STRIPE_PUBLIC_KEY="your-stripe-public-key-here"
STRIPE_SECRET_KEY="your-stripe-secret-key-here"


AWS_BUCKET_NAME="your-s3-bucket-name-here"
AWS_REGION="your-s3-region-here"
AWS_CLOUD_FRONT_URL="your-cloud-front-url-here"
AWS_ACCESS_KEY="your-aws-access-key-here"
AWS_SECRET_KEY="your-aws-secret-key-here"